@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Geostar+Fill&family=Stalinist+One&display=swap");

.all {
  width: 90%;
  margin: 100px auto;
  .title {
    text-align: center;
    font-family: "Genos";
    font-size: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .filter {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 30px;
      label {
        font-size: 20px;
      }
    }
  }
  .avaible {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .car {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      box-shadow: 0px 4px 10px gray;
      transition: 0.4s;
      &:hover {
        transform: scale(1.1);
      }
      img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .txt {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background: #000;
        width: 100%;
        color: white;
        font-family: "Genos";
        padding: 10px;
        .top {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .all {
    .avaible{
      grid-template-columns: 1fr ;
    }
  }
}
